<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


<script>
var globalkwh,
	globalinterval = 'day',
	globalorder = 'asc',
	globallimit = 2000;

$.getJSON('http://commapp06.ies:5000/aggregated_metrics/54c52bfb6865ae542c6416af/interval/' + globalinterval + '?order=' + globalorder + '&limit=' + globallimit, function(json){
	globalkwh=json;
      });

$(function () {
    $.getJSON('http://commapp06.ies:5000/aggregated_metrics/54c52bfb6865ae542c6416b3/interval/' + globalinterval + '?order=' + globalorder + '&limit=' + globallimit, function (data) {

        // split the data set into kw and kwh
        var kw = [],
            kwh = [],
            dataLength = data.length,
            kwhjsLength = globalkwh.length,
            // set the allowed units for data grouping
            groupingUnits = [[
                'day',                         // unit name
                [1]                             // allowed multiples
            ], [
                'week',
                [1, 2, 3, 4, 6]
            ]],
            i = 0,
            j = 0;

        for (i; i < dataLength; i += 1) {
            kw.push([
                Date.parse(data[i].timestamp), //the date
                data[i].stats.mean, // open
                data[i].stats.max, // max
                data[i].stats.min, // min
                data[i].stats.mean // close
            ]);
        };
        
        for (j; j < kwhjsLength; j += 1) {
            kwh.push([
                Date.parse(globalkwh[j].timestamp), //the date
                globalkwh[j].stats.sum // the total
            ]);
        };
            
        


        // create the chart
        Highcharts.stockChart('container', {
        	
            rangeSelector: {
                selected: 1
            },

            title: {
                text: 'Roscoe School District'
            },

            yAxis: [{
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'KW'
                },
                height: '60%',
                lineWidth: 2
            }, {
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'KWh'
                },
                top: '65%',
                height: '35%',
                offset: 0,
                lineWidth: 2
            }],

            tooltip: {
            	valueDecimals: 2,
                split: true,
            },

            series: [{
            	type: 'candlestick',
                name: 'KW use over time',
                data: kw,
                dataGrouping: {
                    units: groupingUnits
                }
            }, {
                type: 'column',
                name: 'KWh',
                data: kwh,
                yAxis: 1,
                dataGrouping: {
                    units: groupingUnits
                }
            }]
        });
    });
});

</script>
</head>



<div id="main" style="height: 600px; min-width: 600px">
	<table style="width:100%; border: 1px solid #000">
		<tr>
    		<th style="width:20%">Meter</th>
    		<th style="border-left: 1px solid #000">Consumption</th>
    	</tr>
    	<tr>
    		<td style="width:20%" align="center">
    			<button type="button" onclick="alert('High School meter choosen')">High School</button>
				<button type="button" onclick="alert('Gym meter choosen')">Gym</button>
			</td>
    		<td style="width:80%; border-left: 1px solid #000"><div id="container" style="height: 400px; min-width: 310px"></div></td>
    	</tr>
	</table>
</div>

