<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>

<body>
<div id="main" style="height: 700px; min-width: 600px">
	<table style="width:100%; border: 1px solid #000">
		<tr>
    		<th style="width:20%">Meter</th>
    		<th style="border-left: 1px solid #000">Consumption</th>
    		
    	</tr>
    	<tr>
    		<td>
    			<select onchange="updateinterval(this.value)">
  					<option value="hour">Hourly</option>
  					<option value="day" selected="selected">Daily</option>
  					<option value="month">Monthly</option>
				</select>
    		
    		</td>
    		<td style="width:80%; border-left: 1px solid #000"></td>
    	
    	</tr>
    	<tr>
    		<td style="width:20%" align="center">
    			<ul class="Tree">
    				<li>Indian Creek</li>
    				<li>Flight Safety</li>
    				<li>City of Frederick</li>
    				<li>Roscoe High</li>
     				<ul>
      				<li>RoscoeHighSchool</li>
      				<li>RoscoeHighSchoolGym</li>
      				<ul>
      				<li>54c52bfb6865ae542c6416af</li>
      				</ul>
      			    </ul>
      			</ul>
			</td>
    		<td style="width:80%; border-left: 1px solid #000"><div id="container" style="height: 400px; min-width: 310px"></div></td>
    	</tr>
	</table>
</div>
</body>

<script>
var globalkwh,
	globalkw,
	globalchart,
	globalinterval = 'day',
	globalorder = 'desc',
	globallimit = 500,
    groupingUnits = [[
                      'day',                         // unit name
                      [1]                             // allowed multiples
                  ], [
                      'week',
                      [1, 2, 3, 4, 6]
                  ]]


$(document).ready(function() {
	getDataDraw();
});

var getDataDraw = function(){
	$.when( getData("54c52bfb6865ae542c6416af"),
			getData("54c52bfb6865ae542c6416b3")
		).done(function(kwh, kw){
			globalkwh = kwh[0].reverse();
			globalkw = kw[0].reverse();
			drawChart();
		});
}

var getData = function(metric_id){
	var url = 'http://commapp06.ies:5000/aggregated_metrics/' + metric_id + '/interval/' + globalinterval + '?order=' + globalorder + '&limit=' + globallimit
	return $.getJSON(url, function(data){
		globaldata=data;
    });
}

var initGlobalChart = function(kw, kwh){
	globalchart = Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 0
        },

        title: {
            text: 'Roscoe School District'
        },

        yAxis: [{
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'KW'
            },
            height: '60%',
            lineWidth: 2
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'KWh'
            },
            top: '65%',
            height: '35%',
            offset: 0,
            lineWidth: 2
        }],
        
        tooltip: {
        	valueDecimals: 2,
            split: true
        },

        series: [{
        	type: 'candlestick',
            name: 'KW use',
            data: kw,
            dataGrouping: {
                units: groupingUnits,
                enabled: false
            }
        }, {
            type: 'column',
            name: 'KWh',
            data: kwh,
            yAxis: 1,
            dataGrouping: {
                units: groupingUnits,
                enabled: false
            }
        }]
    });
	
}

var updateGlobalChart = function(kw, kwh){
	globalchart.update({
		rangeSelector: {
            selected: 0
        },
        
		series: [{
        	type: 'candlestick',
            name: 'KW use',
            data: kw,
            dataGrouping: {
                units: groupingUnits,
                enabled: false
                }
        }, {
            type: 'column',
            name: 'KWh',
            data: kwh,
            yAxis: 1,
            dataGrouping: {
                units: groupingUnits,
                enabled: false
            }
        }]
	});
}

var drawChart = function(){
	// split the data set into kw and kwh
    var kwreturn = fetchData();
	var	kw = kwreturn[0],
		kwh = kwreturn[1]
	
	if (typeof globalchart !== 'undefined') {
		updateGlobalChart(kw, kwh);
	} else {
		initGlobalChart(kw, kwh);
		
	}

	
}


var fetchData = function(){
    var kw = [],
    	kwh = [],
    	kwjsLength = globalkw.length,
    	kwhjsLength = globalkwh.length,
    	i = 0,
    	j = 0

	for (i; i < kwjsLength; i += 1) {
    	kw.push([
        	Date.parse(globalkw[i].timestamp), //the date
        	globalkw[i].stats.mean, // open
        	globalkw[i].stats.max, // max
        	globalkw[i].stats.min, // min
        	globalkw[i].stats.mean // close
    	]);
	};

	for (j; j < kwhjsLength; j += 1) {
    	kwh.push([
        	Date.parse(globalkwh[j].timestamp), //the date
        	globalkwh[j].stats.sum // the total
    	]);
	};
	
	return([kw, kwh]);
}
var updateRangeSelector = function() {
	if(globalinterval == "day"){
		globalchart.update({
			
			rangeSelector: {
				buttons:[{
					type: 'month',
					count: 1,
					text: '1m'
				}, {
					type: 'month',
					count: 3,
					text: '3m'
				}, {
					type: 'month',
					count: 6,
					text: '6m'
				}, {
					type: 'ytd',
					text: 'YTD'
				}, {
					type: 'year',
					count: 1,
					text: '1y'
				}, {
					type: 'all',
					text: 'All'
				}],
				selected: 1
			}
		});
	} else if(globalinterval == "hour"){
		globalchart.update({
			
			rangeSelector: {
				buttons:[{
					type: 'day',
					count: 1,
					text: '1d'
				}, {
					type: 'day',
					count: 3,
					text: '3d'
				}, {
					type: 'week',
					count: 1,
					text: '1w'
				}, {
					type: 'week',
					count: 4,
					text: '4w'
				}],
				selected: 1
			}
		});
	} else {
		globalchart.update({
			rangeSelector: {
				buttons:[{
					type: 'month',
					count: 12,
					text: '1y'
				}, {
					type: 'month',
					count: 36,
					text: '3y'
				}, {
					type: 'ytd',
					text: 'YTD'
				}, {
					type: 'all',
					text: 'All'
				}],
				selected: 1
			}
		});
	}
}


var updateinterval = function(interval) {
	globalinterval = interval;
	updateRangeSelector();
    getDataDraw();
}
</script>