<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


<script>
var globalkwh,
	globalkw,
	globaldata,
	globalinterval = 'day',
	globalorder = 'asc',
	globallimit = 2000; 

$(function(){
			getDataDraw();
	});


var updateinterval = function(interval) { 
    globalinterval = interval;
    getDataDraw();
};

var getDataDraw = function(){
	$.when( getData("54c52bfb6865ae542c6416af"),
			getData("54c52bfb6865ae542c6416b3")
		).done(function(kwh, kw){
			globalkwh = kwh[0];
			globalkw = kw[0];
			drawChart();
		});
	
}
	

var drawChart = function(){
	// split the data set into kw and kwh
    var kw = [],
        kwh = [],
        kwjsLength = globalkw.length,
        kwhjsLength = globalkwh.length,
        // set the allowed units for data grouping
        groupingUnits = [[
            'day',                         // unit name
            [1]                             // allowed multiples
        ], [
            'week',
            [1, 2, 3, 4, 6]
        ]],
        i = 0,
        j = 0;

    for (i; i < kwjsLength; i += 1) {
        kw.push([
            Date.parse(globalkw[i].timestamp), //the date
            globalkw[i].stats.mean, // open
            globalkw[i].stats.max, // max
            globalkw[i].stats.min, // min
            globalkw[i].stats.mean // close
        ]);
    };
    
    for (j; j < kwhjsLength; j += 1) {
        kwh.push([
            Date.parse(globalkwh[j].timestamp), //the date
            globalkwh[j].stats.sum // the total
        ]);
    };
        
    


    // create the chart
    Highcharts.stockChart('container', {
    	
        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'Roscoe School District'
        },

        yAxis: [{
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'KW'
            },
            height: '60%',
            lineWidth: 2
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'KWh'
            },
            top: '65%',
            height: '35%',
            offset: 0,
            lineWidth: 2
        }],

        tooltip: {
        	valueDecimals: 2,
            split: true,
        },

        series: [{
        	type: 'candlestick',
            name: 'KW use',
            data: kw,
            dataGrouping: {
                units: groupingUnits
            }
        }, {
            type: 'column',
            name: 'KWh',
            data: kwh,
            yAxis: 1,
            dataGrouping: {
                units: groupingUnits
            }
        }]
    });
	}


var getData = function(metric_id){
	var url = 'http://commapp06.ies:5000/aggregated_metrics/' + metric_id + '/interval/' + globalinterval + '?order=' + globalorder + '&limit=' + globallimit
	return $.getJSON(url, function(data){
		globaldata=data;
    });
}

</script>
</head>


<div id="main" style="height: 700px; min-width: 600px">
	<table style="width:100%; border: 1px solid #000">
		<tr>
    		<th style="width:20%">Meter</th>
    		<th style="border-left: 1px solid #000">Consumption</th>
    		
    	</tr>
    	<tr>
    		<td>
    			<select onchange="updateinterval(this.value)">
  					<option value="hour">Hourly</option>
  					<option value="day" selected="selected">Daily</option>
  					<option value="month">Monthly</option>
				</select>
    		
    		</td>
    		<td style="width:80%; border-left: 1px solid #000"></td>
    	
    	</tr>
    	<tr>
    		<td style="width:20%" align="center">
    			<button type="button" onclick="alert('High School meter choosen')">High School</button>
				<button type="button" onclick="alert('Gym meter choosen')">Gym</button>
			</td>
    		<td style="width:80%; border-left: 1px solid #000"><div id="container" style="height: 400px; min-width: 310px"></div></td>
    	</tr>
	</table>
</div>